OPENAI_API_KEY=
OPENAI_API_TIMEOUT=PT5M
GEMINI_API_KEY=
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta
GOOGLE_CLOUD_TRANSLATE_API_KEY=
DEEPL_API_KEY=
RESUMADE_API_BASE_URL=http://127.0.0.1:8080
NEXT_PUBLIC_RESUMADE_FRONTEND_ONLY=false
MYSQL_ROOT_PASSWORD=
MYSQL_USERNAME=resumade_user
MYSQL_PASSWORD=
TRANSLATION_PROVIDER=deepl
TRANSLATION_FALLBACK_PROVIDER=google-cloud
