OPENAI_API_KEY=
OPENAI_API_TIMEOUT=PT5M
GEMINI_API_KEY=
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta
GOOGLE_CLOUD_TRANSLATE_API_KEY=
DEEPL_API_KEY=
MYSQL_USERNAME=resumade_user
MYSQL_PASSWORD=change-me
TRANSLATION_PROVIDER=google-cloud
TRANSLATION_FALLBACK_PROVIDER=deepl
